
body {
    padding: 0;
    background-color:rgb(65, 97, 225);
    background-image: url(./brugervenligt.jpg);
    background-size: cover;
}

h1 {
    font-size: 100px;
    transition: 700ms ease;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.773);
    text-align: center;
  
}
ul {
    display: flex;
    list-style: none;
    font-family: "cinzeldecoration1";
    justify-content: space-around;
    padding: 0px ;
  }
  ul a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.4rem;
    
  }
  span{
    display: inline-block;
    transform: scaleX(-1) translateX(-0.2rem);
    color:rgb(39, 53, 153)
}
