
header{
display: flex;
align-items: center;
justify-content: space-between;
}

header.mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul a{
    display: flex;
    list-style: none;
    font-family: "cinzeldecoration1";
    justify-content: space-around;
    padding: 20px ;
    border-radius: 5px;
    justify-content: space-around
  }

  .mainNav {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.categorylist a {
    text-decoration: none;
    padding: 2em;
    color: white;
    background-color:rgb(131, 131, 141)
}

.categorylist{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1em;
}