* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.productlist main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.productlist main h2 {
  grid-column: 1/-1;
}

ul a {
  display: flex;
  list-style: none;
  font-family: "cinzeldecoration1";
  justify-content: space-around;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-around;
}

/* .mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: rgba(238, 234, 228, 0.83);
}

h3 {
  font-size: 1.953rem;
  letter-spacing: -0.02rem;
  line-height: 1.2;
}

p {
  display: block;
}

.smallProduct {
  padding: 10%;
}

.discounted p:last-child {
  background: red;
  padding: 0.2rem;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.productlist article.soldOut img {
  opacity: 0.5;
}

.productlist article > * {
  margin: 0;
  font-size: 0.9rem;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  color: rgb(255, 0, 0);
  padding: 1rem;
}

.soldOut::before {
  content: "";
  position: absolute;
  width: auto;
  height: auto;
  background-color: rgb#9f252566;
}

.soldOut::after {
  padding: 1rem;
  background-color: rgb(180, 93, 66);
  color: white;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 601px) {
  .productlist main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  header {
    align-items: center;
    justify-content: space-between;
  }
}
